.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

output/*.xlsx
dummy_data/*.xlsx
build/*
remc_report_dist/*
*.spec

# excel temp files ignore
~*

__pycache__/