.vscode/*
# !.vscode/settings.json
!.vscode/tasks.json
# !.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

output/*.xlsx
output/**/*.pdf
output/**/*.csv
dummy_data/*.xlsx
input_data/**/*.csv
input_data/**/*.xlsx
build/*
remc_report_dist/*
project_env/
*.spec
*.tmp

# excel temp files ignore
~*

__pycache__/